.form-horizontal
  .form-group
    label.col-sm-2.control-label(for='deviceNameInput') Name
    .col-sm-10
      input#deviceNameInput.form-control(type='text', placeholder='device - name')
  .form-group
    label.col-sm-2.control-label(for='deviceIdInput') ID
    .col-sm-10
      input#deviceIdInput.form-control(type='text', placeholder='device - id')
